body, html {
	margin:0;
	padding:0;
	color:#000;
}

body {
	font-size: 10px;
	font-family: "Courier New", Courier, monospace;
}

header {
	background-color: #99CCFF;
	height: 10em;
	margin-bottom: 0.5em;
}

#menuBar{
	list-style-type: none;
	margin: 2em;
	padding: 0;
}

li {
	display: inline;
}

#menuBar a {
	font-size: 2em;
	margin-left: 1em;
	color: maroon;
}

.logo {
	height: 10em;
	max-width: 100%;
}

.footer {
	margin-top: 2em;
	height: 3em;
	border-top: 0.2em solid #99CCFF;
}

.footer p {
	padding-top: 0.5em;
}

.footer i {
	font-size: 1.5em;
}

#showerQuote {
	position:absolute;
	bottom: 1em;
	right: 1em;
	width: 25em;
	font:normal 105% Germand;
	padding:1em;
	font-style:italic;
	border-radius:1em;
	line-height:1.4em;
}

#hourseAlc {
	position:absolute;
	top:15%;
	background:#754B08;
	font:normal 100% Germand;
	padding: 1em;
	font-style:italic; border-radius: 1em;
}

#puffinCute {
	position:absolute;
	top:60%;
	background: #769028;
	font:normal 100% Germand;
	padding: 1em;
	font-style:italic; border-radius: 1em;
	width: 100%;
}

#weEatThem {
	position:absolute;
	top:70%;
	background: #246024;
	font:normal 100% Germand;
	padding: 1em;
	font-style:italic; border-radius: 1em;
	width: 100%;
}

#puffinFood {
	position:absolute;
	left: 1em;
	width: 11em;
	height: 7em;
	top: 80%;
	background: url(../images/puffinFood.jpg);
	background-repeat:no-repeat;
	background-size: cover;
}


#iceFlag {
	position:absolute;
	right: 27em;
	width: 11em;
	height: 7em;
	top: 30em;
	background: url(../images/iceFlag.jpeg);
	background-repeat:no-repeat;
	background-size: cover;
}

#hilmar {
	position:absolute;
	right: 27em;
	width: 11em;
	height: 7em;
	top: 30em;
	background: url(../images/hilmar.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	border: 0.2em solid white;
	border-radius: 20%;
}

#appelsinLag {
	position:absolute;
	width:150px;
	bottom:10px;
	line-height:1.5em;
	background:#E29F16;
	padding:10px;
	border-radius:7px
}

#saganQuote {
	position:absolute; 
	top:37em;
	right: 1em;
}


.myTitle {
	position:absolute;
	width: 30%;
	right: 35%;
	top: 1em;
}

.myTitle strong {
	font-size: 2.3em;
}
