body, html {
	margin:0;
	padding:0;
	color:#000;
}

body {
	font-size: 10px;
	font-family: "Courier New", Courier, monospace;
}

header {
	background-color: #99CCFF;
	height: 10em;
	margin-bottom: 0.5em;
}

.logo {
	height: 10em;
	max-width: 100%;
}

.footer {
	margin-top: 2em;
	height: 3em;
	border-top: 0.2em solid #99CCFF;
}

.footer p {
	padding-top: 0.5em;
}

.footer i {
	font-size: 1.5em;
}
